/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "cover";

.the-first {
  height: 535px;
  background-image: url("image_1.jpg");
  background-size: 1286px 535px;
  background-repeat: no-repeat;
  color: #ffffff;
  text-weight: bold;

  .top-title {
    width: 767px;
    margin-top: 60px;
  }

  .form-log {
    margin-top: 210px;
    text-align: center;
    
    .form-inline {
      .form-group {
        box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.5);
        
        .form-control.input-lg {
          background:rgba(255,255,255, 0.9);
          border-radius: 0px;
        }
      }

      button.btn.btn-success.btn-lg {
        width: 266px;
        border-radius: 0px;
        background-color: #579799;
        border: 1px solid #579799;
        box-shadow: 0 0 5px 6px rgba(34,34,34,0.75);
          -moz-box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.5);
      }
    }  
  }
}

.the-ctr {
  text-align: center;

  .title-inside {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .text-left {
    .media {
      .media-body {
        text-align: justify;
        padding-bottom: 15px;
      }
    }
  }

  .vertical-line {
    width: 2px;
    height: 297px;
    background-color: #858585;
    margin: 0 auto;
  }

  .text-right {
    .media {
      .media-body {
        text-align: right;
        padding-bottom: 15px;
      }
    }
  }

}

.form-homepage {
  text-align: center;
  height: 869px;
  background-image: url("image_2.jpg");
  margin-top: 50px;

  .about-form {
    padding-top: 150px;

    .form-title {
      color: #ffffff;
      text-weight: bold;
      padding-bottom: 40px;
    }

    form {
      width: 600px;
      margin: 0 auto;

      .form-group {
        margin-top: -10px;

        .form-control.input-lg {
          border-radius: 0px;
          color: #000000;
          background:rgba(255,255,255, 0.9);
        }

        textarea.form-control.input-lg {
          height :200px;
        }
      }

      .btn.btn-warning.btn-lg {
        width: 600px;
        height :60px;
        border-radius: 0px;
        margin-top: -10px;
      }
    }
  }  
}

