/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "cover";

body {
  padding-top: 84px;
}

.vetical-line {

}

.the-first {
  width: 1286px;
  height: 869px;
  background-image: url("image_1.jpg");
  background-size: 1286px 869px;
  color: #ffffff;
  text-weight: bold;

  .top-title {
    padding-top: 100px;
    padding-left: 100px;
  }

  .form-log {
    margin-top: 500px;
    text-align: center;
    
    .form-inline {
      .form-group {
        .form-control.input-lg {
          border-radius: 0px;
          // opacity: 0.9;
        }
      }

      button.btn.btn-success.btn-lg {
        width: 266px;
        border-radius: 0px;
        background-color: #579799;
        border: 1px solid #579799;
      }
    }  
  }
}

.the-ctr {
  text-align: center;
  
  .text-left {
    .media {
      .media-body {
        text-align: justify;
      }
    }
  }

  .text-right {
    .media {
      .media-body {
        text-align: right;
      }
    }
  }

}

.form-homepage {
  text-align: center;
  width: 1286px;
  height: 869px;
  background-image: url("image_2.jpg");
  background-size: 1286px 869px;

  .about-form {
    padding-top: 150px;

    .form-title {
      color: #ffffff;
      text-weight: bold;
    }

    form {
      .form-group {
        .form-control.input-lg {
          // background-color: rgba(130, 130, 130, 0.5);
          border-radius: 0px;
          color: #000000;
        }
      }

      .btn.btn-warning.btn-lg {
        width: 1140px;
        border-radius: 0px;
      }
    }
  }  
}

